<div class="panel panel-default">
    <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
          <div class="form-inline">
              <div class="form-group">
                <input type="file" name="files[]" id="js-upload-files" multiple>
              </div>
          </div>
        </form>
    </div>
</div>
<!-- <p><a class="btn btn-primary" href="#" role="button">Pobierz</a></p> --->
<button type="submit" class="btn btn-primary" id="js-upload-submit">Upload files</button> 
