<h3>Dodawanie nowego playbooka</h3>
<%= render partial: "form", locals: { button_name: "Dodaj" } %>
<hr/>

<h3>Pobierz playbooka z Githuba</h3>
<%= render partial: "github", locals: { button_name: "Pobierz" } %>
<hr/>

<h3>Dodaj playbooka z własnego komputera</h3>
<%= render partial: "upload", locals: { button_name: "Prześlij" } %>
<hr/>
