<p>Czy na pewno chcesz usunąć użytkownika?</p>
<p>
  <%= link_to "Tak", user_path(@user), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Nie", users_path, class: "btn btn-secondary" %>
</p>
