<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">O aplikacji</h1>
  </div>
<h4> Jest to aplikacja realizująca projekt inżynierski pt. "Projekt usługi wspomagajacej zarzadzanie infrastrukturą komputerowa z zastosowaniem Ansible" której promotorem jest dr inż. Damian Grela </h5>
<h5> Konsultantem pracy jest mgr inż. Kazimierz Kiełkowicz </h5>
</div>
