<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Witaj w Ansible User Interface</h1>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="<% index_path %>>" role="button">Powrót</a></p>
  </div>
</div>