<div class="jumbotron">

      <div class="page-header">
        <h1 class=" pb-5 display-3">Dokumentacja</h1>
      </div>
  
<h4>Oficjalna dokumentacja:</h4>
<ul>
       <a href="https://docs.ansible.com/ansible/latest/index.html" target="_blank" onclick="window.location.href ="https://docs.ansible.com/ansible/latest/index.html";"   >
	<h6> https://docs.ansible.com/ansible/latest/index.html  </h6>
       </a>
</ul>
<hr>

<h4>Przykłady playbooków:</h4>
<ul>
       <a href="https://github.com/ansible/ansible-examples" target="_blank" onclick="window.location.href ="https://github.com/ansible/ansible-examples";"  >
	<h6> https://github.com/ansible/ansible-examples </h6>
       </a>
</ul>
<hr>
<h4> Aby zobaczyć krótki opis używania aplikacji przejdź do "O aplikacji" > "Jak używać aplikacji" </h4>
</div>
