<div class="jumbotron">
      <div class="page-header">
	<h1 class=" pb-5 display-3">Jak używać aplikacji</h1>
      </div>

<div class="container">

<h4>Strona główna</h4>
<ul>
        <li><h6> Aby dostać się do strony głównej naciśnij na napis "Strona główna" na belce nawigacyjnej". </h6></li>
</ul>
<hr>
<h4>Dodawanie playbooka:</h4>
<ul>
        <li><h6> Aby dodać playbooka naciśnij menu rozwijalne "Playbook" oraz wybierz "Dodaj playbook". </h6></li>
	<li><h6> Możesz dodać playbooka poprzez jego wklejenie lub pobrać go z Githuba. </h6></li>
        <li><h6> Pamiętaj aby nazwa nie zawierała białych znaków - inaczej zostaniesz poproszony o ponowne dodanie playbooka.</h6></li>
</ul>
<hr>
<h4>Wyświetlenie listy playbooków:</h4>
<ul>
        <li><h6>  Aby wyświetlić listę playbooków naciśnij menu rozwijalne "Playbook" oraz wybierz "Zarządzaj playbookami". </h6></li>
</ul>
<hr>

<h4>Sprawdzenie informacji o playbooku:</h4>
<ul> 
       <li><h6>  Aby wyświetlić listę playbooków naciśnij menu rozwijalne "Playbook" oraz wybierz "Zarządzaj playbookami". </h6></li>
       <li><h6>  Następnie aby wyświetlić informacje o interesującym Cię playbooku naciśnij przycisk "Pokaż". </h6></li>
</ul>
<hr>
<h4>Dodawanie hosta:</h4>
<ul>
        <li><h6> Aby dodać hostaa naciśnij menu rozwijalne "Host" oraz wybierz "Dodaj hosta". </h6></li>
</ul>
<hr>

<h4>Wyświetlenie listy hostów:</h4>
<ul>
        <li><h6> Aby wyświetlić listę hostów naciśnij menu rozwijalne "Host" oraz wybierz "Zarządzaj hostami". </h6></li>
</ul>
<hr>

<h4>Wyświetlanie informacji o hoście:</h4>
<ul>
       <li><h6> Aby wyświetlić listę hostów naciśnij menu rozwijalne "Host" oraz wybierz "Zarządzaj hostami". </h6></li>
       <li><h6>  Następnie aby wyświetlić informacje o interesującym Cię hoście naciśnij przycisk "Pokaż". </h6></li>
</ul>
<hr>

<h4>Testowanie połaczenia do hosta:</h4>
<ul>
	<li><h6> Aby wyświetlić listę hostów naciśnij menu rozwijalne "Host" oraz wybierz "Zarządzaj hostami". </h6></li>
       <li><h6>  Następnie aby dokonać testu łączności do interesującego Cię hosta naciśnij przycisk "Test połączenia". Test łączności musi przebiec prawidłowo aby móc wykonać na hoście playbooka. </h6></li>

</ul>
<hr>

<h4>Aby zobaczyć ogłoszenia administratora:</h4>
<ul>
        <li><h6> Aby wyświetlić listę ogłoszeń administratora wybierz "Tablicę ogłoszeń" z paska nawigacyjnego.  </h6></li>
</ul>
<hr>

<h4>Aby zobaczyć dokonane uruchomienia playbooków:</h4>
<ul>
        <li><h6>  Aby wyświetlić listę wykonań playbooków naciśnij menu rozwijalne "Uruchom" oraz wybierz "Historia uruchomień". </h6></li>
</ul>
<hr>

<h4>Aby uruchomić playbooka na hoście/hostach:</h4>
<ul>
        <li><h6> Aby uruchomić playbooka na wskazanych hoście/hostach naciśnij menu rozwijalne "Uruchom" oraz wybierz "Wykonaj playbooka". </h6></li>
 	<li><h6> Wybierz pierwszą opcję "Wykonaj wcześniej zapisanego playbooka". </h6></li>
	<li><h6> Możesz wykonać playbooki które wcześniej zostały dodane do aplikacji. Jeśli playbook ma błędną składnię jego wykonanie zakończy się błędem.  </h6></li>

</ul>
<hr>

<h4>Aby uruchomić komendę bash na hoście/hostach:</h4>
<ul>
        <li><h6> Aby uruchomić komendę bash na wskazanych hoście/hostach naciśnij menu rozwijalne "Uruchom" oraz wybierz "Wykonaj playbooka" </h6></li>
        <li><h6> Wybierz pierwszą opcję "Wykonaj komendę bashową na wskazanym serwerze". </h6></li>    
   	 <li><h6>  Możesz wykonać playbooki które wcześniej zostały dodane do aplikacji. Jeśli komenda bash ma błędną składnię jego wykonanie zakończy się błędem. </h6></li>
</ul>
<hr>
<h4>Aby zmienić swoje hasło:</h4>
<ul>
        <li><h6> Aby zmienić swoje aktualne hasło zlokalizuj po prawej stronie paska nawigacyjnego menu rozwijalne "Konto". </h6></li>
        <li><h6> Wybierz "Ustawienia". </h6></li>
        <li><h6> Wprowadź nowe i aktualne hasło. Aby zastosować zmiany kliknij "Zaktualizuj". </h6></li>
</ul>
<hr>
<h4>Aby wylogować się</h4>
<ul>
        <li><h6> Aby wylogować się zlokalizuj po prawej stronie paska nawigacyjnego menu rozwijalne "Konto". </h6></li>
        <li><h6> Wybierz "Wyloguj". </h6></li>
</ul>
<hr>

</div>
</div>
