<body>
	<main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Witaj w Ansible User Interface</h1>
              <p>Jest to aplikacja pozwalająca na zarządzanie Ansible przy pomocy przeglądarki. Ansible jest narzędziem obsługiwanym z konsoli które pozwala na wykonywanie działań zdefiniowanych w plikach konfiguracyjnych tzw. "playbookach" na wielu serwerach.</p>
              <p><a class="btn btn-primary btn-lg" href="https://docs.ansible.com/ansible/latest/index.html" role="button">Dowiedz się więcej &raquo;</a></p>
						</div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Tablica ogłoszeń</h2>
                <p>Sprawdź ogłoszenia dodane przez administratora</p>
                <p><a class="btn btn-secondary" href="<%= posts_path %>" role="button">Ogłoszenia</a></p>
              </div>
              <div class="col-md-6">
                <h2>Wykonaj playbooka</h2>
                <p>Wykonaj dodane przez Ciebie playbooki na wskazanych przez hostach</p>
                <p><a class="btn btn-secondary" href="#" role="button">Wykonaj playbooka</a></p>
              </div>
            </div>
          </div>
  </main>
</body>
