<h3> Lista wpisów </h3>

<p><%= link_to "Dodaj nowy wpis", new_post_path, class: "btn btn-success" %></p>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation" >
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true" href="#pills-home" >Wszystkie</a>
  </li>
  <li class="nav-item" role="presentation" >
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" role="tab" aria-controls="pills-profile" aria-selected="false" href="#pills-profile" href="<%= published_posts_path %>">Opublikowane</a>
  </li>
</ul>

<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><%= render partial: "taball" %></div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><%= render partial: "tabpublished" %></div>
</div>
