<!DOCTYPE html>
<html>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Blog</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active" <a href="#">Strona główna</a></li>
        <li <a href="#">O aplikacji</a></li>
        <li <a href="#">Dokumentacja Ansible</a></li>
        <li <a href="#">Podręcznik użytkownika</a></li>
        <li <a href="#">Warunki prywatności</a></li>
        <li <a href="#">Skontaktuj się</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
