<p>Witaj <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>Odnotowano prośbę zmiany hasła. Aby tego dokonać skorzystaj z linku poniżej.</p>

<p><%= link_to 'Zmień moje hasło', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jeżeli nie wnioskowałeś o zmianę hasła zignoruj tego emaila.</p>
<p>Twoje hasło nie zostaje zmienione dopóki nie skorzystasz z podanego linku.</p>
