<p>Witaj <%= @resource.email %>!</p>
<p>Twoje konto zostało zablokowane w związku z błędnymi próbami logowania</p>
<p>Naciśnij w link aby móc odblokować konto:</p>
<p><%= link_to 'Odblokuj moje konto', unlock_url(@resource, unlock_token: @token) %></p>
